<body background="../../assets/img/background.jpg" style="width: 100%;">
  <div>
    <img src="../../assets/img/man.png" style="height: 20%;width: 20%;position: relative; padding-left: 40%;padding-top: 13%">
    <input type="radio" value="True" name="movement">
    <input type="radio" value="True" name="movement">
    <input type="radio" value="True" name="movement">
    <input type="radio" value="True" name="movement">
    <input type="radio" value="True" name="movement">
  </div>
</body>



